# ethereum / geth account keys (keystore)
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: quorum-node1-account-key-config

  labels:
    app: qubernetes
    name: quorum-node1-account-key-config
data:
  key: |-


    %Account-Key-Config
