@import url("fonts/fontawesome/font-awesome.min.css");
@import url("bootstrap/css/bootstrap.min.css");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}

html, body {
    height: 100%;
}
