
apiVersion: v1
kind: ConfigMap
metadata:
  name: quorum-permissioned-config

  labels:
    app: qubernetes
    name: quorum-permissioned-config
data:
  permissioned-nodes.json: |

    [
      %ENODES_LIST%
    ]


---
