

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: quorum-%NODE_NO%-pvc
spec:
  storageClassName: "gp2-ae"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: quorum-%NODE_NO%-logs-pvc
spec:
  storageClassName: "gp2-ae"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

